.admin_wrapper {
    padding-top: 50px;
    color: #222;
    background: #fff;
    .container {
        width: 90%;
        margin: 0 auto;
    }

    h1 {
        color: #222;
        font-weight: 700;
        font-size: 38px;
        margin-bottom: 50px;
        text-align: center;
        display: flex; 
        align-items: center;
        justify-content: center;
        margin-left: 37%;
    }
    .admin_panel {
        display: flex;
        text-align: center;
        h3{
            font-weight: 700;
            font-size: 22px;
            text-align: left;
            padding-bottom: 10px;
            border-bottom: 2px dashed #ccc;
            display: inline-block;
            width: 100%;
            margin-bottom: 15px;
        }
        .setting_web {
            width: 45%;
            background: #fff;
            border-radius: 6px;
            padding: 10px;
            .setting_btn{
                display: inline-block;
                background: #4285f4;
                border-radius: 6px;
                width: 100%;
                padding: 8px 15px;
                color: #fff;
                cursor: pointer;
                margin-bottom: 15px;
            }
            .input_block{
                display: flex;
                align-items: center;
                margin: 15px 0;
                p{
                    width: 100%;
                    text-align: left;
                    font-weight: 500;
                }
                input,textarea{
                    width: 100%;
                    border-radius: 6px;
                    background: transparent;
                    border: 1px solid #ccc;
                    padding: 7px 15px;
                }
            }
            ul{
                margin-bottom: 20px;
                li{
                    border-radius: 6px;
                    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.12),inset 0 -1px 0 0 #dadce0;
                    margin: 10px 0;
                    padding: 10px;
                    text-align: left;
                    cursor: pointer;
                    transition: all .2s ease;
                    color: #444;
                    display: flex;
                    align-items: center;
                    i{
                        color: red;
                        margin-left: auto;
                    }
                    &:hover{
                        box-shadow: 0 5px 10px 0 rgba(0,0,0,0.12),inset 0 -1px 0 0 #dadce0;
                    }
                }
            }
        }
        .setting_order{
            border-left: 2px solid #ddd;
            width: 55%;
            padding: 10px 20px 20px 20px;
            .order_list{
                .order_item{
                    position: relative;
                    padding: 10px;
                    display: flex;
                    flex-direction: column;
                    text-align: left;
                    border-radius: 6px;
                    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.12), inset 0 -1px 0 0 #dadce0;
                    margin-bottom: 30px;
                    div{
                        margin: 7px 0;
                        color: #5f6368;
                    }
                    span{
                        color: #000;
                        font-weight: 500;
                    }
                    .order_type{
                        font-weight: 700;
                        color: #222;
                        p{
                            display: inline-block;
                            margin-left: 20px;
                            font-weight: 500;
                            color: #5f6368;
                        }
                    }
                    .order_text{
                        display: flex;
                        flex-direction: column;
                        line-height: 120%;
                    }
                    .order_delete{
                        position: absolute;
                        right: 10px;
                        top: 10px;
                        color: red;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .link_btn{
        background: #4285f4;
        border-radius: 6px;
        width: 200px;
        padding: 8px 15px;
        font-size: 14px;
        color: #fff;
        cursor: pointer;
        margin-left: auto;
        margin-top: 3px;
    
    }
}
@media screen and (max-width:768px) {
    .admin_wrapper{
        h1{
            font-size: 22px;
        }
        .admin_panel{
            .setting_web{
                width: 100%;
            }
        }
    }
}