@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
body{
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;

}
#tsparticles{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.ai-center{
  align-items: center;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 5px;
  height: 4px;
  background-color: transaprent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #4285f4;
}